.discord-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-image-small {
    width: 100px;
    height: auto;
}

.discord-widget-container {
    max-width: 500px;
    margin: 0 auto;
}

.footer-buttons .btn {
    margin: 0 5px;
}

.contact-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-form {
    display: inline-block;
    text-align: left;
}

.footer-social {
    margin-top: 15px;
    margin-bottom: 10px;
}

.social-btn {
    margin: 0 5px;
    width: 50%;
    max-width: 120px;
}

.navbar-custom {
    background-color: white;
}

.navbar-custom .nav-link {
    color: black !important;
}

.navbar-custom .navbar-brand {
    color: black !important;
}

/* This is to ensure the color remains black even when a nav link is hovered over or clicked */
.navbar-custom .nav-link:hover,
.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:active {
    color: black !important;
}

/* Change color of toggler icon */
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
