.discord-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-image-small {
    width: 100px;
    height: auto;
}

.discord-widget-container {
    max-width: 500px;
    margin: 0 auto;
}

.footer-buttons .btn {
    margin: 0 5px;
}

.contact-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-form {
    display: inline-block;
    text-align: left;
}

.footer-social {
    margin-bottom: 10px;
}

.social-btn {
    margin: 0 5px;
    width: 50%;
    max-width: 120px;
}

