.discord-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-image-small {
    width: 100px;
    height: auto;
}

.discord-widget-container {
    max-width: 500px;
    margin: 0 auto;
}
